**/__pycache__
**/.ipynb_checkpoints
*.egg-info/
.vscode/
*.pkl
*.h5

# Data
ojdata/*
*.Rdata
*.Rproj
*.Rhistory
*.zip
*.rdx
*.rdb


# Pytests
.pytest_cache/

# File for model deployment
score.py

# Environments
myenv.yml

# Logs
logs/
*.log

books/
data/
labs/
org/
R/
xls/
forecasting/
labs_python
leveraged/
pdf/
notebooks/
exams/
.Rproj.user/