/* Thanks Kevin Ushey -- https://github.com/rstudio/webinars/blob/master/2014-04/styles.css */
pre.prettyprint {
  width: inherit;
  left: 0px !important;
  padding: 10px !important;
  box-shadow: 1px 1px 5px #9c9c9c !important;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #ADADAD;
}
pre.prettyprint + pre {
  width: inherit;
  left: 0px !important;
  padding: 10px !important;
  box-shadow: 1px 1px 5px #9c9c9c !important;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #ADADAD;
  background-color: #F3F3F3;
}
h1, h2, h3, h4, h5, h6 {
  color: #003399 !important;
  font-family: "Myriad Pro", Myriad, sans-serif;
  font-weight: bold;
  line-height: 95%;
}
strong {
  color: #003399;
}
table th {
border-width: 1px;
background-color: #e2e2e2;
padding: 0 8px 0 8px;
font-weight: bold;
border-style: none;
}
.gdbar img {
  width: 150px !important;
  height: 150px !important;
  margin: 8px 8px;
}
.gdbar {
  width: 300px !important;
  height: 170px !important;
}
slides > slide:not(.nobackground):before {
  width: 50px;
  height: 50px;
  background-size: 30px 30px;
  background-position: 0px 30px;
}

a:link { color: #539fde; } /* CSS link color (red) */

